---
import UnderConstruction from "@components/UnderConstruction.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="My Blog">
  <main class="container">
    <h1 class="h1">My Blog!</h1>
    <UnderConstruction />
  </main>
</Layout>
