---
const { year, degree, institute, grade } = Astro.props;
---

<div class="edu">
  <div class="left">
    <p class="date">{year}</p>
    <p class="desig">{degree}</p>
  </div>
  <div class="right">
    <h3>{institute}</h3>
    <p class="grade">{grade}</p>
  </div>
</div>

<style>
  .edu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    margin-top: 3rem;
    position: relative;
  }

  .edu::after {
    content: "";
    position: absolute;
    width: 15px;
    aspect-ratio: 1 /1;
    background-color: var(--accent-300);
    border-radius: 50%;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
  }

  .left {
    text-align: end;
    align-self: center;
  }

  .date {
    font-weight: 900;
    margin-bottom: 0.2em;
  }

  .right h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  @media only screen and (max-width: 45rem) {
    .edu {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 4rem;
      background-color: white;
    }
    .edu::after {
      top: 0;
    }

    .left {
      text-align: center;
      transform: translateY(85%);
    }
  }
</style>
