---
const allSkills = await Astro.glob("../../content/cv/skills/*.md");
---

<div class="card-container container">
  {
    allSkills.map((skill) => {
      return (
        <div class="card">
          <h3 class="h4 text-c">{skill.frontmatter.title}</h3>
          <div set:html={skill.compiledContent()} />
        </div>
      );
    })
  }
</div>

<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-block: 2rem;
  }

  .card {
    width: 22rem;
    border: 1px solid var(--accent-400);
    padding: 2rem 2.5rem;
    background-color: white;
    box-shadow: 5px 5px 0px 0px var(--accent-400);
  }

  .card .h4 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  li {
    margin-left: 3rem;
  }
</style>
