---
import UnderConstruction from "@components/UnderConstruction.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
  <div class="container hero">
    <h1 class="h1">About me!</h1>
    <UnderConstruction />
    <a href="/films-and-tv">My favourite films and shows</a>
  </div>
</Layout>
