---
import UnderConstruction from "@components/UnderConstruction.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Photography">
  <main class="container">
    <h1 class="h1">My Photography Page</h1>
    <UnderConstruction />
  </main>
</Layout>
