---
import UnderConstruction from "@components/UnderConstruction.astro";
import HeroSection from "@components/sections/HeroSection.astro"
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Photography">
  

  <div class="container">
    <UnderConstruction />
  </div>
</Layout>
