---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <a class="logo" href="/"> Srivats</a>
  <ul class="links">
    <li><a href="/" class={pathname === "/" ? "active" : ""}>Home</a></li>
    <li>
      <a href="/blog" class={currentPath.startsWith("blog") ? "active" : ""}
        >Blog</a
      >
    </li>
    <li>
      <a
        href="/photography"
        class={currentPath.startsWith("photography") ? "active" : ""}
        >Photography</a
      >
    </li>
    <li>
      <a href="/shows" class={currentPath.startsWith("shows") ? "active" : ""}
        >Shows</a
      >
    </li>
  </ul>
  <button class="btn"><div class="hamburger"></div></button>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    margin-inline: auto;
    justify-content: space-between;
    height: 5rem;
    padding-inline: 1rem;
    background-color: var(--accent-700);
    z-index: 2;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 400px;
  }

  li {
    padding: 1rem;
    text-align: center;
    position: relative;
  }

  .links a {
    background-color: var(--accent-700);
    color: var(--gray-100);
    text-decoration: none;

    font-size: 1.15rem;
    margin: auto;
  }

  .links a:hover::after,
  .links li > .active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    height: 7px;
    background-color: var(--accent-300);
  }
  button {
    display: none;
  }

  .logo {
    font-family: "Bebas Neue", sans-serif;
    color: var(--gray-100);
    font-size: 2rem;
    text-decoration: none;
    position: relative;
  }

  .logo::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -3px;
    width: 100%;
    background-color: white;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 250ms ease-in-out;
  }

  .logo:hover.logo::after {
    transform: scaleX(1);
  }
  @media only screen and (max-width: 70rem) {
    nav {
      z-index: 900;
    }
    ul {
      flex-direction: column;
      translate: 150% 19rem;
      background-color: white;
      transition: all 250ms ease-in-out;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.322);
      width: 100vw;
      z-index: 800;
      height: 50vh;
      display: none;
    }

    button {
      display: block;
      /* padding: 1rem; */
      cursor: pointer;
      margin: 0;
      height: 45px;
      background: transparent;
      border: none;
    }

    .hamburger {
      position: relative;
    }
    .hamburger::after,
    .hamburger::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
    }
    .hamburger,
    .hamburger::after,
    .hamburger::before {
      height: 3px;
      width: 30px;
      background-color: white;
    }

    .hamburger::before {
      bottom: 10px;
    }
    .hamburger::after {
      top: 10px;
    }

    .links a {
      background-color: white;
      font-weight: 700;
      color: var(--accent-700);
      padding: 1rem;
    }

    nav.open > ul {
      translate: 0 19rem;
      display: flex;
    }
  }
</style>

<script is:inline>
if (!window.SomeGlobal) {
  const navbar = document.querySelector("nav");
  const hamburgerBtn = document.querySelector(".btn");

  hamburgerBtn.addEventListener("click", () => {
    navbar.classList.toggle("open");
    console.log("clicked");
  });
}
</script>
