---
import navLinks from "../data/navLinks";
---

<nav>
  <div class="logo">Srivats</div>
  <ul>
    {
      navLinks.map((link) => {
        return (
          <li>
            <a href={link.path} data-navlink>
              {link.name}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    max-width: 60rem;
    margin-inline: auto;
    justify-content: space-between;
    height: 5rem;
    padding-inline: 1rem;
  }
  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  li {
    min-width: 5rem;
  }

  a {
    color: var(--gray-400);
    text-decoration: none;
    transition: color 250ms ease-in-out;
    font-size: 1.15rem;
  }

  a:hover {
    color: var(--accent-300);
  }
</style>

<script>
  const navLinks = document.querySelectorAll("[data-navlink]");
  const pathName = window.location.pathname;

  navLinks.forEach((link) => {
    if (link.getAttribute("href").includes(pathName)) {
      link.setAttribute("aria-current", "current");
    }

    if (
      pathName.includes("/cv") &&
      link.getAttribute("href").includes("/about")
    ) {
      link.setAttribute("aria-current", "current");
    }
  });
</script>
