---
import navLinks from "../data/navLinks";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1)


console.log(currentPath)
---

<nav>
  <a href="/">
    <div class="logo">Srivats</div>
  </a>
  <ul>
    {
      navLinks.map((link) => {
        return (
          <li>
            <a href={link.path} data-navlink class={currentPath.startsWith(link.path.slice(1)) ? "active" : ""}>
              {link.name}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    max-width: 60rem;
    margin-inline: auto;
    justify-content: space-between;
    height: 5rem;
    padding-inline: 1rem;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 400px;
  }

  li {
    min-width: 5rem;
    text-align: center;
  }

  a {
    color: var(--gray-400);
    text-decoration: none;
    transition: color 250ms ease-in-out;
    font-size: 1.15rem;
    
  }

  a:hover {
    color: var(--accent-300);
  }

  .active  {
    font-weight: 700;
  }
</style>
