---
// import Layout from "src/layouts/Layout.astro";

---

<section>
    <div>
        <h2 class="h3">The website is under construction.</h2>
        <p>Cool things coming soon!</p>
    </div>
</section>

<style>
    section {
        display: grid;
        height: 80vh;
        place-items: center;
    }
</style>